@media (min-width:820px){
     .THIS .monthFilterMobile{
         display:none;
     }
     
     .THIS .mobileHide{
         display:inline-flex;
         
     }
 }
 
 @media (max-width:820px){
     .THIS .monthFilter{
         display:none;
     }
     
     .THIS .monthFilterMobile{
         display: inline-flex;
         margin-bottom: 12px;
     }
     
     .THIS .mobileMonth{
         padding:2px;
         width: 4.6rem;
         max-width: 4.6rem;
     }
     
     .THIS .cont1{
         width: 10rem;
     }
     
     .THIS .mobileAlignNext{
         left:4.3rem;
     }
 }